.links,

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #343a40;
}

.whole-page-flex-box {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.13);
  padding: 40px;
  padding-top: 0px;
  border-radius: 15px;
}

.content { 
  display: grid;
  grid-template-columns: repeat(1fr, 3);
}

.page-profile {
  font-family: sans-serif;

  align-self: flex-end;
  border-radius: 10px;
}

.page-profile img {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.13);
}

.name {
  font-size: 40px;
  height: 150px;
  color: #087f5b;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 50px;
}

.page-heading img { 
  height: 250px;
  width:  250px;
  border-radius: 1px;
}

.blurb {
  font-size: 20px;
  font-weight: 6000;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-box {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.social-icon { 
  background-color: #38d9a9;
  display: block;
 
  align-self: center;
  justify-self: center;
 
  fill: #ffffff;

  padding: 20px;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);

  transition-timing-function: linear;
}

.social-icon:hover,
.social-icon:active {
  background-color: #20c997;
  width: 45px;
  height: 45px;
  padding: 17px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}